<h1>Edit Actor</h1>
<%= form_for @actor do |f| %>
  <%= f.text_field :name %>
  
  <%= f.submit "Update" %>
<% end %>

<br>

   <%= form_tag add_movie_path do |f|%>
    <select name="movie_id">
      <% @movies.each do |flick| %>
      <option value="<%=flick.id%>"><%=flick.title %></option>
       
      <% end %>
    </select>

    <input type="submit" value="Add">
  <% end %> 
   
<br>

<%= button_to "Delete Actor", actor_path(@actor), :method => :delete %>